@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply min-h-screen bg-slate-50 text-slate-900 overflow-x-hidden;
}

#root {
  @apply min-h-screen;
}

.card {
  @apply bg-white shadow-md rounded-xl;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
